<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="admobFree.rendomAdShow()">
          <ion-icon name="home-outline"></ion-icon>
          <!-- <ion-label>Calculator</ion-label> -->
      </ion-tab-button>
      <ion-tab-button tab="mymatches" (click)="admobFree.rendomAdShow()">
          <ion-icon name="trophy-outline"></ion-icon>
          <!-- <ion-label>My Date</ion-label> -->
      </ion-tab-button>
      <ion-tab-button tab="winners" (click)="admobFree.rendomAdShow()">
          <ion-icon name="ribbon-outline"></ion-icon>
          <!-- <ion-label>My Date</ion-label> -->
      </ion-tab-button>
      <ion-tab-button tab="groups" (click)="admobFree.rendomAdShow()">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          <!-- <ion-label>My Date</ion-label> -->
      </ion-tab-button>
      <ion-tab-button tab="feed" (click)="admobFree.rendomAdShow()">
          <ion-icon name="newspaper-outline"></ion-icon>
          <!-- <ion-label>My Date</ion-label> -->
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>