<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Series Leaserboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="binding">
    <ion-segment-button value="Series">
      <ion-label>Series</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Weekly">
      <ion-label>Weekly</ion-label>
    </ion-segment-button>
  </ion-segment>
  <section *ngIf="binding == 'Series'">
    <div class="global_img" *ngIf="gs.fireBaseUrl.page11_1">
      <ion-card>
        <img src="{{gs.fireBaseUrl.page11_1.ss}}" alt="" />
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2 *ngFor="let item of gs.fireBaseUrl['page11_1']['text']">
                {{item}}
              </h2>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-card>
  </div>
  </section>
  <section *ngIf="binding == 'Weekly'">
    <div class="global_img" *ngIf="gs.fireBaseUrl.page11_2">
      <ion-card>
        <img src="{{gs.fireBaseUrl.page11_2.ss}}" alt="" />
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2 *ngFor="let item of gs.fireBaseUrl['page11_2']['text']">
                {{item}}
              </h2>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-card>
  </div>
  </section>
</ion-content>
