<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="global_img">
    <ion-card *ngIf="gs.fireBaseUrl.page5_1">
      <img src="{{gs.fireBaseUrl.page5_1.ss}}" alt="" />
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2 *ngFor="let item of gs.fireBaseUrl['page5_1']['text']">
              {{item}}
            </h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="gs.fireBaseUrl.page5_2">
      <img src="{{gs.fireBaseUrl.page5_2.ss}}" alt="" />
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2 *ngFor="let item of gs.fireBaseUrl['page5_2']['text']">
              {{item}}
            </h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
