<ion-app>
  <!--  the side menu  -->
  <!-- <ion-split-pane> -->
  <ion-menu side="start" content-id="main-content">
    <ion-content color="medium">
      <ion-card color="light" class="ion-no-margin ion-text-center">
        <ion-card-header>
          <ion-card-subtitle>{{gs.fireBaseUrl.main_title}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img src="assets/icon/app-icon.png" width="92px"
            style="border-radius: 20%;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);" />
          <ion-card-header class="ion-no-padding">
            <ion-button (click)="gs.appShare()" shape="round">
              <ion-icon slot="start" name="person-circle-outline"></ion-icon>
              INVITED FRIENDS
            </ion-button>
          </ion-card-header>
          <h2>Dream Team 11</h2>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item button lines="none" (click)="gs.appShare()">
          <ion-icon color="primary" name="share-social" slot="start"></ion-icon>
          <ion-label color="primary">Share App</ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item button lines="none" (click)="gs.rateApp()">
          <ion-icon color="primary" name="star" slot="start"></ion-icon>
          <ion-label color="primary">Rate App</ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item button lines="none" (click)="gs.rateApp()">
          <ion-icon color="primary" name="apps" slot="start"></ion-icon>
          <ion-label color="primary">More Apps</ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item button lines="none">
          <ion-icon color="primary" name="phone-portrait-outline" slot="start"></ion-icon>
          <ion-label color="primary">
            App V{{gs.crVersion}}
          </ion-label>
          <ion-button *ngIf="gs.crVersion != gs.fireBaseUrl['appVersion']" (click)="gs.rateApp()" fill="clear"
            color="dark" slot="end">
            Update
          </ion-button>
        </ion-item>
      </ion-card>

    </ion-content>
    <!-- <ion-footer>
        <ion-toolbar>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-item lines="none"  button (click)="helpdesk()" class="ion-no-padding">
                  <ion-icon color="dark" name="help-circle-outline" slot="start"></ion-icon>
                  <ion-label>Helpdesk</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item lines="none"  button (click)="helpdesk()" class="ion-no-padding">
                  <ion-icon color="dark" name="chatbox-ellipses" slot="start"></ion-icon>
                  <ion-label>Chat</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer> -->
  </ion-menu>
  <!-- </ion-split-pane> -->

  <!-- the main content -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>