<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="gs.toggleMenu()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="global_img">
    <ion-card>
      <img src="assets/screen1.png" alt="" />
    </ion-card>
  </div>
  <div class="global_img">
    <ion-card>
      <img src="assets/screen2.png" alt="" />
    </ion-card>
  </div>
</ion-content>
