<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="binding">
    <ion-segment-button value="upcoming">
      <ion-label>Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="live">
      <ion-label>Live</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <section *ngIf="binding == 'upcoming'">
    <div class="global_img" *ngIf="gs.fireBaseUrl.page2_1">
      <ion-card>
        <img src="{{gs.fireBaseUrl.page2_1.ss}}" alt="" />
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2 *ngFor="let item of gs.fireBaseUrl['page2_1']['text']">
                {{item}}
              </h2>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </section>
  <section *ngIf="binding == 'live'">
    <div class="global_img" *ngIf="gs.fireBaseUrl.page2_2">
      <ion-card>
        <img src="{{gs.fireBaseUrl.page2_2.ss}}" alt="" />
        <ion-item >
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2 *ngFor="let item of gs.fireBaseUrl['page2_2']['text']">
                {{item}}
              </h2>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </section>
  <section *ngIf="binding == 'completed'">
    <div class="global_img" *ngIf="gs.fireBaseUrl.page2_3">
      <ion-card>
        <img src="{{gs.fireBaseUrl.page2_3.ss}}" alt="" />
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2 *ngFor="let item of gs.fireBaseUrl['page2_3']['text']">
                {{item}}
              </h2>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </section>
</ion-content>
