<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>How To Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="global_img" *ngIf="gs.fireBaseUrl.page10">
    <ion-card>
      <img src="{{gs.fireBaseUrl.page10.ss}}" alt="" />
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2 *ngFor="let item of gs.fireBaseUrl['page10']['text']">
              {{item}}
            </h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
</div>
</ion-content>
